<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
  <div class="pigination"><%= will_paginate models %></div>
 
  <table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%=t('Enter Date') %></th>
    <th><%=t('Customer Short Name') %></th>
    <th><%=t('Subject') %></th>
    <th><%=t('Lead Detail') %></th>
    <th><%=t('Lead Quality Scale') %></th>
    <th><%=t('Make Sale') %></th>
    <th><%=t('Lead Status') %></th>
    <th><%=t('Init. Order Amount($)') %></th>
    <th><%=t('Lead Provider') %></th>
    <th></th>
 
  </tr>

<% models.each do |r| %>
  <tr>
  	<% if has_action_right?('show', 'sales_leadx_sales_leads', r) %>
  	  <td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{sales_lead_path(r)}" %></td>
  	<% else %>
  	  <td><%= r.id %></td>
  	<% end %>
  	<td><%= r.lead_date.strftime("%Y/%m/%d") %></td>
    <td><%= prt(r, 'customer.short_name') %></td>   
    <td><%= prt(r, :subject) %></td>
    <td><%= prt(r, :lead_info)[0..40] %></td>
    <td><%= prt(r, :lead_quality_scale) %></td>
    <td><%= prt(r, :sale_success) ? t('Yes') : t('No') %></td>
    <td><%= prt(r, 'lead_status.name') %></td>
    <td><%= number_with_delimiter(prt(r, :initial_order_total)) %></td>
    <td><%= prt(r, 'provider.name') %></td>    
    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape(edit_sales_lead_path(r, :parent_record_id => r.customer.id, :parent_resource => SalesLeadx.customer_class.to_s.underscore.pluralize))}", :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r) %></td>

  </tr>
<% end %>
</table>
<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to 'New Sales Leads', SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape(new_sales_lead_path)}", :class => BUTTONS_CLS['action'] if @customer.blank? && has_action_right?('create', params[:controller]) %>  
              &nbsp;&nbsp;&nbsp;
              <%= link_to 'New Sales Leads', SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape(new_sales_lead_path(:customer_id => @customer.id, :parent_record_id => @customer, :parent_resource => SalesLeadx.customer_class.to_s.underscore.pluralize))}", :class => BUTTONS_CLS['action'] if @customer.present? && has_action_right?('create', params[:controller]) %>
  </th>
  </tr>
</table>

<% end %>
  
